/**
Mise en page avec display grid
*/

.site__entete {
    grid-area: header; // pas de ""
   // padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: #dec6fb;
    left: 0;
    right: 0;
}
  
.site__main {
    grid-area: main;
    overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  }
  
.site__footer {
    grid-area: footer;
    background-color:#2b2b2b;
}

.site__aside {
    grid-area: aside;
    background-color: rgb(203, 249, 183);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    justify-content: end;
    
    h3{
        text-align: center;
        margin-top: 30px;
    }
}

/*body ou un conteneur globale */
.site {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    row-gap: 50px;
    @media screen and (min-width: 1000px){ //configuration mobile
       grid-template-columns: 30% auto;  //configuration desktop
       grid-template-areas:
       "header header"
       "aside main"
       "footer footer";
    }
}