.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    @media screen and (min-width: 675px){
        margin-left: 40px;
        margin-right: 40px;                     
    }  
    
    .blocflex__article{       
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        border-radius: 30px;
        background-color: rgba($color: #ffffff, $alpha: 0.4);                
        transition: 0.3s;          
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.8);   
           
        @media screen and (min-width: 675px){
            flex: 1 0 300px;  
            padding: 20px;  
            margin: 10px;                   
        }  
    }

    .blocflex__article:hover{
        transform: scale(1.1);
        background: var(--lightGreen);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        backdrop-filter: blur(3.4px);
        -webkit-backdrop-filter: blur(3.4px);
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .blocflex__article a{        
        text-decoration: none;        
        font-family: var(--policeSecondaire);
        font-weight: 600;
        font-size: 16px;
        color: var(--darkGreen);
        text-transform: uppercase
    }

    .blocflex__article a:visited{
        text-decoration: none;
    }

    .blocflex__article a:hover{
        color: var(--orange);
    }
}

.blocflex__galerie{
    flex: 1 0 100%;    
}

.duree{    
    left: 0;
    bottom: 0;
    font-family: var(--policePrimaire);
    font-size: 15px;
    font-weight: 600;
    color: var(--darkPurple);
}

.champ__enseignant, .champ__domaine{
    font-family: var(--policeSecondaire);
    font-size: 14px;
    color: rgb(70, 35, 35);
}

.acf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}