.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;    
 
    a {
        padding-left: 40px;
    } 

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}


.site__entete{
  padding-bottom: 30px;
  background-color: rgb(222, 198, 251);
    
  a{
    white-space: nowrap;
    color: #6c3644;
    text-decoration: none;
   }

   h2{
    margin-bottom: 25px;    
   }

   h1, h2{
    margin-left: 40px;
   }
}

.menu-entete-container {      

    flex:1;
    transform : translateX(300px);
    transition : transform .25s;
    @media screen and (min-width: 500px) {
        transform : translateX(0);  
    }

    .menu { //ul

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        list-style-type: none;

        @media screen and (min-width: 500px){

            flex-direction: row;
            justify-content: space-evenly; 
        }

    
        .menu-item { // li
                flex : 1 0 50px;
        
            a{              
                color : #dec6fb;
                transition: color 0.5s ease;
            }

            a:hover {
                color : #c0f9b7;                              
            }  
        }    
    }       
}

.menusearch {

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    @media screen and (min-width:1000px){
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

.recherche {
    display: flex;
    flex-wrap: nowrap;    
}

#chkBurger {
    display : none;
}

#chkBurger:checked ~ .menu-entete-container {
    transform : translateX(0);
}

.burger {

    display : block;
    width: 70px;

    @media screen and (min-width: 500px) {
        display: none;    
    }
}

.burger img{
    width: 100%;
    object-fit: contain;
}