.logomenu{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba($color: #000000, $alpha: 0.9);  
    
    @media screen and (min-width: 500px) {
        align-items: center;
        padding: 50px;
    }
 
    .custom-logo-link img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}

.custom-logo-link{

    margin-left: 5px;
    margin-top: 5px;
   
    @media screen and (min-width: 500px) {
       position: inherit;
    }
}

.site__entete{  
  background-color: rgb(222, 198, 251);
    
  a{
    white-space: nowrap;
    
    text-decoration: none;
   }

   h1, h2{
    margin: 5px;
    color: #743444;    

        @media screen and (min-width: 500px) {
            margin: 25px;
        }
   }
}

.menu-entete-container {      

    flex:1;
    transform : translateX(100%);
    transition : transform .25s;
    @media screen and (min-width: 500px) {
        transform : translateX(0);  
    }

    .menu { //ul

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        list-style-type: none;

        @media screen and (min-width: 500px){

            flex-direction: row;
            justify-content: space-evenly; 
        }

    
        .menu-item { // li
                flex : 1 0 50px;
        
            a{              
                color : #dec6fb;
                transition: color 0.5s ease;
            }

            a:hover {
                color : #c0f9b7;                              
            }  
        }    
    }       
}

.menusearch {

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    padding: 8px;
    
    @media screen and (min-width:1000px){
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;     
        margin-left: 60px;   
    }
}

.recherche {
    display: flex;
    flex-wrap: nowrap;    
    align-self: center;
    margin-top: 50px;

    @media screen and (min-width:1000px){
        margin-top: 0;
    }
}

#chkBurger {
    display : none;
}

#chkBurger:checked ~ .menu-entete-container {
    transform : translateX(0);
}

.burger {

    display : block;    

    @media screen and (min-width: 500px) {
        display: none;    
    }
}
