.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    width: 100vw;
 
    a {
        padding-left: 40px;
    } 

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}


.site__entete{
  padding-bottom: 30px;
  background-color: rgb(222, 198, 251);
    
  a{
    color: #6c3644;
    text-decoration: none;
   }

   h2{
    margin-bottom: 25px;    
   }

   h1, h2{
    margin-left: 40px;
   }
}

.menu-entete-container {      
    flex:1;

    .menu { //ul
        display : flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type: none;
        
    
        .menu-item { // li
                flex : 1 0 50px;
        
            a{
               
                color : #dec6fb;
                transition: color 0.5s ease;
            }
            a:hover {
                color : #c0f9b7;                              
            }  
        }    
    }       
}