.site__footer {
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;   
    padding: 30px 30px 10px 30px;    
  
    h2{
        color: var(--lightPurple);
        font-style: var(--policeSecondaire);
        font-size: 16px;
        text-align: center;
    }

    .footer__widget{

        flex-direction: column; 

        @media screen and (min-width: 675px){
            display: flex;
            flex-direction: row;                 
        }  

        div{
           
            flex: 1 0 90%;

            @media screen and (min-width: 675px){
                flex: 1 0 30%;
                margin: 10px;                
            }  
        }
    } 




    .footer__lien{
        div{
            flex: 1 0 33%;
        }

        a{
            text-decoration: none;
            color: var(--lightPurple);
        }

        a:hover{
            color: var(--orange);
        }

        li{
            list-style: none;
        }


    }

}    