footer {
    background-color: #2b2b2b;   
    padding: 30px 30px 10px 30px;    
  
    h2{
        color: rgb(222, 198, 251);
        font-style: var(--policeSecondaire);
        font-size: 16px;
        text-align: center;
    }
}