.menu__bloc{ // nav

    .menu{ //ul
         display : flex;
         flex-wrap: wrap;
         list-style-type: none;;
        .menu-item { //li
            border : 1px solid #aaa;
            flex : 1 0 33%;

            a{
                font-size: 2rem;
                text-decoration: none;
                margin-left: 40px;
            }
        }
    }
}

.evenement__porte{
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=calendar');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left top;
}

