.menu-note-wp-container{

    .menu{ // ul
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (min-width: 1000px){
           flex-direction: column;                       
        }

        .menu-item{ //li

            list-style-type: none;     
            margin: 5px 0px 5px 0px;    

            a {
                font-family: var(--policeSecondaire);
                font-weight: 600;       
                text-decoration: none;
                
                .note__numero{
                    padding: 3px;
                }

                .note__titre{
                    display: none;
                    @media screen and (min-width: 1000px){
                        display: inline;                        
                    }
                }
            }
        }
    }
}