.menu__bloc{ // nav

    .menu{ //ul
         display : flex;
         flex-wrap: wrap;
         list-style-type: none;;
        .menu-item { //li
            border : 1px solid #aaa;
            flex : 1 0 33%;
        }
    }
}

.evenement__porte, .evenement__carriere{
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=calendar');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: left center;
    border: 1px;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    background-color: rgba(255, 165, 0, 0.2);
    margin: 10px 10px 30px 10px;

    a{        
        text-decoration: none;        
        font-family: var(--policeSecondaire);
        font-weight: 600;
        font-size: 24px;
        color: var(--darkGreen);   
        text-transform: uppercase;  

        span{
            display: block;            
        }
    }

    a:visited{
        text-decoration: none;
    }

    a:hover{
        color: var(--orange);        
    }

}







