.main__recherche{   
    display: flex;
    flex-wrap: nowrap;

    input[type="search"]{
        border-radius: 7px;
        background-color:#ffffff;
        padding: 5px;
    }

    button[type="submit"] {
        padding: 5px;
        background-color: #c0f9b7;
        border-radius: 7px;
    }
}
