:root{
    --policePrimaire: 'Poppins', sans-serif;
    --policeSecondaire: 'Comfortaa', sans-serif;
    --darkGreen:  rgb(17, 65, 31);
    --darkPurple: #6b489a;
    --lightPurple: rgba(227, 197, 229, 0.7);
    --orange: #D6634B;
    --lightGreen: rgba(203, 249, 183, 0.7);
}